<a href="https://colab.research.google.com/github/Mercy-Njambi/LeetCode-Interview-Questions/blob/main/SQL/Easy/Average_Post_Hiatus.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Given a table of Facebook posts, for each user who posted at least twice in 2021, write a query to find the number of days between each userâ€™s first post of the year and last post of the year in the year 2021. Output the user and number of the days between each user's first and last post.



`posts` Table:

|Column Name|	Type|
|:---|:---|
|user_id|	integer|
|post_id|	integer|
|post_content|	text|
|post_date|	timestamp|

Example Output:

|user_id|	days_between|
|:---|:---|
|151652	|2|
|661093	|21|

In [1]:
query = """
SELECT
    user_id,
    (MAX(post_date)::date - MIN(post_date)::date) AS days_between
FROM
    posts
WHERE
    EXTRACT(year FROM post_date) = 2021
GROUP BY
    user_id
HAVING
    (MAX(post_date)::date - MIN(post_date)::date) > 0;
"""